.camera {
    width: 800px;
    height: 800px;
    position: relative;

    .mask,
    .face,
    .merge {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    
    .merge {
        z-index: 3;
        opacity: 0.2;
    }
    
    .mask {
        z-index: 2;
        transform: rotateY(180deg);
    }

    .face {
        z-index: 1;
        transform: rotateY(180deg);
    }
}